.seven-segment {
    display: grid;
    grid-template-areas:
            "af   a  ab . .  "
            "f    .   b . .  "
            "efg  g bcg . .  "
            "e    .   c . .  "
            "de   d  cd . dot";
    grid-template-columns: 2fr 4fr 2fr 1fr 2fr;
    grid-template-rows: 1fr 2fr 1fr 2fr 1fr;
}

.seven-segment > .dot {
    border-radius: 50%;
}

.seven-segment > div.greenglow {
    box-shadow: 0 0 11px 5px darkgreen;
}

.seven-segment > div.redglow {
    box-shadow: 0 0 11px 5px darkred;
}

.seven-segment > div.purpleglow {
    box-shadow: 0 0 5px 3px #DB9EFF;
}

.seven-segment > div.blueglow {
    box-shadow: 0 0 5px 5px darkblue;
}

.seven-segment > div.grayglow {
    box-shadow: 0 0 5px 5px #111;
}

.seven-segment > div.pinkglow {
    box-shadow: 0 0 5px 5px deeppink;
}